/.workshop
/build
/dist

# Apps
/apps/*/.workshop
/apps/docs/.next
/apps/docs/build
/apps/studio/build
/apps/studio/public

# Examples
/examples/*/.workshop
/examples/manage/build
/examples/manage/public
/examples/studio/build
/examples/studio/public
/examples/web/.next
/examples/web/build

# Packages
/packages/*/.workshop
/packages/*/build
/packages/*/lib
/packages/@sanity/*/.workshop
/packages/@sanity/*/build
/packages/@sanity/*/lib
/packages/@sanity/**/__fixtures__
